{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ i18n "invtalks" }}</h1>

      {{ range .Pages.ByDate.Reverse }}
      <div class="row" id="talk_list">
        <div class="col-md-10">
          <ul class="compact fa-ul">

            
            <li>
              <i class="fa-li fa fa-file-text-o" aria-hidden="true"
                 style="color:#03396c;font-size:80%;padding-top:6px;"></i>
              {{ .Title }}
			  <p><small>
			  {{ .Params.event  | markdownify}}, 
			  {{ .Date.Format "January 2006" }} </small></p>
              <p>{{ partial "talk_links" (dict "content" . "is_list" 1) }}</p>
            </li>
            

          </ul>
        </div>
      </div>
     {{ end }}

    </div>
  </div>

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
